# Module output.
/web/**/modules/custom/**/*.min.css
/web/**/modules/custom/**/*.min.js
/web/**/modules/custom/**/*.map

# Theme output.
/web/**/themes/custom/**/*.min.css
/web/**/themes/custom/**/*.min.js
/web/**/themes/custom/**/*.map
