@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-variation-settings: 'wght' 400;
  font-weight: normal;
  src: url('../../../fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-variation-settings: 'wght' 700;
  font-weight: bold;
  src: url('../../../fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: RobotoMono;
  font-style: italic;
  font-variation-settings: 'wght' 400;
  font-weight: normal;
  src: url('../../../fonts/RobotoMono/RobotoMono-Italic-VariableFont_wght.ttf');
}
